
  body {
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
    margin:0 auto; 
    margin-top: -18px;
}
  h1 {
    color: rgb(0, 0, 0);
  }

  form.loginpageform input[type=submit] {
    background-color: #f0c14b;
    border: 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-family: Arial,sans-serif;
    white-space: nowrap;
    display: block;
    line-height: 29px;
    outline: 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 70px,72px;
    text-decoration: none!important;
    width: 20em;  height: 2em;
    border-radius: 4px;
    
}


    
form.loginpageform input[type=text] {
  
  width: 20em;  height: 2em;
  border-radius: 4px;
  font-family: "Amazon Ember",Arial,sans-serif;
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
}
  


form.loginpageform input[type=password] {
  
  width: 20em;  height: 2em;
  border-radius: 4px;
  font-family: "Amazon Ember",Arial,sans-serif;
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  
}
  
  
  .error {
    color: rgb(255, 0, 0);
  }
  
 

  ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #232f3e;  
  }  
    
  li {  
    float: left;  
  }  
    
  li a {  
    display: block;  
    color: rgb(255, 255, 255);   
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
    font-family: inherit;
    font-size: 14px;
  }  
  .active{  
    background-color: #232f3e;  
    
  color: white;  
  }  
  li a:hover {  
    background-color: orange;  
    color: white;  
  }  

  * {
    box-sizing: border-box;
  }
  
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(63, 63, 63);
    float: center;
    width: 60%;
    background: #ffffff;
    border-radius: 6px;
    margin-left: 297px;
  }
  

  form.example button {
    float: right;
    width: 3%;
    padding: 10px;
    background-color: #f0c14b;
    height:50px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 413px;

  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #navBar{
    background-color:#131921;
    height:80px;
    color:white
    
  }
  #topHalf{
    height:30px;
  }
  #bottomHalf{
    height:50px
  }
  #logo{
    height:170px;
    position:absolute;
    top:-25px
    
  }
  #logoWrapper{
    margin-top: 0px;
    margin-bottom:20px;
    display:inline-block;
    position:relative;
    width:200px;
    
  }
  
    
  
  input{
    vertical-align:top;
    margin-top:0px;
    border-radius:10px;
    height:50px;
    width:500px;
  }
  #department{
    font-size:25px;
    padding:10px;
    margin-left:30px;
    font-weight:bold;
    display:inline-block;
    vertical-align:top;
    margin-top:10px
  }
  #sections{
    display:inline-block
  }
  .section{
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    margin-top:25px;
    margin-left:10px
  }
  #accountStuff{
    display:inline-block;
    float:right;
    margin-right:20px
  }
  
  .headbar{

    background-color: #131921;
  }
  
.loginpagediv{

  width: 320px;
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  margin: 0;
  border-radius: 6px;
  
}

form.special input[type=submit] {
  background-color: #edeff1;
  border: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  font-family: Arial,sans-serif;
  white-space: nowrap;
  display: block;
  line-height: 29px;
  outline: 0;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 70px,72px;
  text-decoration: none!important;
  width: 20em;  height: 2em;
  border-radius: 4px;
  
}



.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(255, 255, 255);
  color: #fff;
  border-radius: 0px;
  padding: 20px;
  font-size: 150%;
  border: black ;
  height: 100px ;
  width: 100px;

}

